# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.tox/
.pytest_cache/
*.cover
.hypothesis/

# Environment and virtualenv
.env
.venv/
env/
venv/

# Django / Flask specific files
*.log
db.sqlite3
instance/

# Jupyter Notebook
.ipynb_checkpoints

# PyInstaller
*.spec

# Sphinx documentation
docs/_build/

# Python-specific project files
.pybuilder/
target/
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Editor and IDE-specific files
.vscode/
.idea/

# Node.js
node_modules/

# Exclude test folder in src
/src/tests/